<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>SumUp Wallet</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div th:replace="~{fragments/navbar}"></div>

<div class="container mt-5 text-center">
    <h1 class="display-4">Welcome to SumUp Wallet</h1>
    <p class="lead">Manage your money with ease and security. Experience fast deposits, secure withdrawals, and access
        to your funds anytime, anywhere.</p>

    <!--    &lt;!&ndash; Image or illustration &ndash;&gt;-->
    <!--    <img alt="SumUp digital card" height="50" src="/images/sumup_digital_card.png" width="50">-->
    <!--    <img alt="SumUp digital card" height="50" src="/images/sumup_digital_card.png" width="50">-->

    <!--    <img alt="SumUp digital card" src="/images/SumUp.jpg">-->


    <a class="btn btn-primary btn-lg mx-2" href="register">Register</a>
    <a class="btn btn-outline-secondary btn-lg mx-2" href="login">Login</a>
</div>

<div th:replace="~{fragments/footer}"></div>

</body>
</html>