<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Wallet Details - SumUp Wallet</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/images/icon.jpeg" rel="icon" type="image/x-icon">
</head>
<body>

<div th:replace="~{fragments/navbar}"></div>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <h3>Wallet Details</h3>
                </div>
                <div class="card-body">
                    <h4>Wallet Name: <span th:text="${wallet.name}"></span></h4>
                    <p>Currency: <span th:text="${wallet.currency}"></span></p>
                    <p>Balance: <span id="walletBalance" th:text="${wallet.balance}"></span></p>

                    <button class="btn btn-success" data-bs-target="#depositModal" data-bs-toggle="modal" type="button">
                        Deposit Money
                    </button>

                    <button class="btn btn-danger" data-bs-target="#withdrawModal" data-bs-toggle="modal"
                            type="button">
                        Withdraw Money
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div aria-hidden="true" aria-labelledby="depositModalLabel" class="modal fade" id="depositModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="depositModalLabel">Deposit Money</h5>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <form action="/depositMoney" id="depositForm" method="post">
                    <input name="walletId" th:value="${wallet.id}" type="hidden">

                    <div class="mb-3">
                        <label class="form-label" for="amount">Amount</label>
                        <input class="form-control" id="amount" min="0" name="amount" required type="number">
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="currency">Currency</label>
                        <input class="form-control" id="currency" name="currency" readonly
                               th:value="${wallet.currency}" type="text">
                    </div>

                    <h5>Debit Card Details</h5>
                    <div class="mb-3">
                        <label class="form-label" for="cardName">Cardholder Name</label>
                        <input class="form-control" id="cardName" name="cardName" required type="text">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="cardNumber">Card Number</label>
                        <input class="form-control" id="cardNumber" name="cardNumber"
                               oninput="enforceMaxLength(this, 16)"
                               required type="number">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="cvc">CVC</label>
                        <input class="form-control" id="cvc" name="cvc" oninput="enforceMaxLength(this, 3)"
                               required type="number">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
                <button class="btn btn-primary" form="depositForm" id="depositButton" type="submit">Deposit</button>
            </div>
        </div>
    </div>

</div>

<button class="btn btn-secondary ms-3" onclick="goBack()">Go Back</button>

<div aria-hidden="true" aria-labelledby="withdrawModalLabel" class="modal fade" id="withdrawModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="withdrawModalLabel">Withdraw Money</h5>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <form action="/withdrawMoney" id="withdrawForm" method="post">
                    <input id="walletId" name="walletId" th:value="${wallet.id}" type="hidden">


                    <div class="mb-3">
                        <label class="form-label" for="withdrawAmount">Withdraw Money:</label>
                        <input class="form-control" id="withdrawAmount" min="0" name="amount" required type="number">
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="currency">Currency</label>
                        <input class="form-control" id="withdrawCurrency" name="currency" readonly
                               th:value="${wallet.currency}" type="text">
                    </div>

                    <p id="errorMessage" style="color: red; display: none;">You cannot withdraw more money than you
                        have</p>

                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
                <button class="btn btn-primary" id="withdrawButton" type="button">Withdraw</button>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer}"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script>
    document.getElementById('depositForm').addEventListener('submit', function (event) {
        event.preventDefault();
        let amount = document.getElementById('amount').value;
        let cardNumber = document.getElementById('cardNumber').value;
        let cvc = document.getElementById('cvc').value;

        if (!amount || !cardNumber.match(/^\d{16}$/) || !cvc.match(/^\d{3}$/)) {
            alert('Please fill out all fields correctly.');
            return;
        }

        alert('The deposit is successfully processed!');

        event.target.submit();
    });

    document.getElementById('withdrawModal').addEventListener('show.bs.modal', function () {
        let balance = parseFloat(document.getElementById('walletBalance').textContent);
        document.getElementById('balanceDisplay').textContent = balance.toFixed(2);

        document.getElementById('withdrawAmount').addEventListener('input', function () {
            let amount = parseFloat(this.value);
            let errorMessage = document.getElementById('errorMessage');
            let withdrawButton = document.getElementById('withdrawButton');

            if (amount > balance) {
                this.style.color = 'red';
                errorMessage.style.display = 'block';
                withdrawButton.disabled = true;
            } else if (amount > 0) {
                this.style.color = '';
                errorMessage.style.display = 'none';
                withdrawButton.disabled = false;
            } else {
                this.style.color = '';
                errorMessage.style.display = 'none';
                withdrawButton.disabled = true;
            }
        });
    });

    document.getElementById('withdrawButton').addEventListener('click', function () {
        let withdrawAmount = parseFloat(document.getElementById('withdrawAmount').value);
        let balance = parseFloat(document.getElementById('walletBalance').textContent);

        let walletId = document.getElementById('walletId').value;

        if (withdrawAmount > balance) {
            alert('You cannot withdraw more money than you have.');
        } else {
            let formData = new FormData();
            formData.append("walletId", walletId);
            formData.append("amount", withdrawAmount);

            fetch('/withdrawMoney', {
                method: 'PUT',
                body: formData
            })
                .then(response => response.text())
                .then(data => {
                    if (data === 'Withdrawal successful') {
                        document.getElementById('walletBalance').textContent = (balance - withdrawAmount).toFixed(2);

                        alert(data);

                        let withdrawModal = new bootstrap.Modal(document.getElementById('withdrawModal'));
                        withdrawModal.hide();

                        location.reload();
                    } else {
                        throw new Error(data);
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Withdrawal failed: ' + error.message);
                });
        }
    });


    function enforceMaxLength(element, maxLength) {
        if (element.value.length > maxLength) {
            element.value = element.value.slice(0, maxLength);
        }
    }

    function goBack() {
        window.history.back();
    }
</script>

</body>
</html>